/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  background-color: black;
  background-image: url(../smoke.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

main, .mapSelector, .selectedLayout {
  height: 800px;
}


/******************************************
/* LAYOUT
/*******************************************/

h1 {
  display: flex;
  justify-content: center;
  font-family: 'Creepster', cursive;
  font-size: 75px;
}

@media all and (max-width: 980px) {
  
  h1 {
    text-align: center;
    font-size: 50px;
  }
  
  h2 {
    display: flex;
    justify-content: center;
  }

  #mapselect {
    height: 40px;
  }

  main {
    display: flex;
    flex-flow: column;
  }

  .mapSelector {
    height: 200px;
  }

  .selectedLayout {
    width: 100%;
    padding: 0 10px 0 10px;
  }


  .selectedLayout img {
    display: flex;
    margin: auto;
    max-width: 100%;
    max-height: 400px;
    /* padding: 10% 20px 10px 20px; */
  }

  select {
    display: flex;
    justify-content: center;
    margin: auto;
  }

  li { 
    display: none;
  }


}


@media all and (min-width: 980px) {

  #mapselect {
    display: none;
  }

  h2 {
    display: flex;
    margin: 30px 0 0 40px;
  }

  main {
    display: flex;
  }


  .mapSelector {
    width: 20%;
  }

  .mapSelector h2 {
    display: flex;
    justify-content: start;
  }

  li {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    background-color: white;
    border-radius: 5px;
    min-width: 150px;
    height: 50px;
    margin-top: 10px;
    cursor: pointer;
  }

  .selectedLayout {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    /* justify-content: center; */
  }

  .selectedLayout img {
    display: flex;
    margin: auto;
    max-width: 100%;
    max-height: 530px;
    /* padding: 10% 20px 10px 20px; */
  }
}




/******************************************
/* ADDITIONAL STYLES
/*******************************************/
